.footer {
  background-color: #241e1e; /* Adjust as needed */
  color: #bbb;
  padding: 1rem 0; /* Reduced padding */
  text-align: left;
  width: 100%;
  border-top: 1px solid #ddd; /* Optional border for separation */
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0.5rem; /* Reduced padding */
}

.footer-section {
  margin: 0.5rem; /* Reduced margin */
  flex: 1;
  min-width: 150px; /* Reduced min-width */
}

.footer-section h2 {
  color: #fff;
  margin-bottom: 0.5rem; /* Reduced margin */
  font-size: 1.2rem; /* Adjusted font size */
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 0.25rem 0; /* Reduced margin */
}

.footer-section ul li a {
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #3bb19b; /* or any accent color you prefer */
}

.social-links {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem; /* Reduced margin */
}

.footer-icon {
  color: #bbb;
  font-size: 20px; /* Reduced font size */
  transition: color 0.3s;
}

.footer-icon:hover {
  color: #3bb19b; /* or any accent color you prefer */
}

.footer-bottom {
  text-align: center;
  padding: 0.5rem 0; /* Reduced padding */
  border-top: 1px solid #333;
  color: #bbb;
  font-size: 0.8rem; /* Reduced font size */
}
